---
Checks: '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-llvmlibc-*,-cppcoreguidelines-pro-bounds-constant-array-index,-cert-err09*'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none
